body{
    font-style: oblique;
    background-color: rgb(35, 190, 112); 
}
h1 {
    text-decoration: underline;
    text-align: center; 
    color: rgb(14, 12, 12); 
 }
 p {
    text-decoration: underline;
    text-align:center;
    color: rgb(3, 3, 3); 
    
 }